In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
MWBestand1 = '/Users/martin/Desktop/SNS/CSV/FLEX_Instandhouding.xlsx'
MWBestand2 = '/Users/martin/Desktop/SNS/CSV/lijnproject.xlsx'
A = pd.read_excel(MWBestand1, "Sheet1", index_col=None, na_values=["NA"])
B = pd.read_excel(MWBestand2, "Sheet1", index_col=None, na_values=["NA"])

FileNotFoundError: [Errno 2] No such file or directory: '/Users/martin/Desktop/SNS/CSV/FLEX_Instandhouding.xlsx'

In [12]:
A.describe()

,Opdrachtgever,Prioriteit,IP_V20_AB,IP_V20_ONT,IP_V20_VP,IP_V20_IO,IP_V20_OV,IP_V20_VV,IP_V20_VO3,IP_V99_AB,IP_V99_ONT,IP_V99_VP,IP_V99_IO,IP_V99_OV,IP_V99_VV,IP_V99_VO3,IP_V0_AB,IP_V0_ONT,IP_V0_VP,IP_V0_IO,
count,46,46,499.000000,499.000000,499,499,499,499,499.00000,499,499.000000,499,499.000000,499.000000,499,499.000000,499.000000,499.000000,499,499.000000,...
mean,0,0,62.659319,285.260521,0,0,0,0,46.97996,0,284.458918,0,0.805611,316.314629,0,46.979960,36.677034,176.227355,0,577.506874,...
std,0,0,1399.703153,6372.237352,0,0,0,0,1049.45281,0,1228.840032,0,17.906503,1009.179902,0,324.658485,528.735713,825.999069,0,2384.414696,...
min,0,0,0.000000,0.000000,0,0,0,0,0.00000,0,0.000000,0,0.000000,0.000000,0,0.000000,0.000000,0.000000,0,0.000000,...
25%,0,0,0.000000,0.000000,0,0,0,0,0.00000,0,0.000000,0,0.000000,0.000000,0,0.000000,0.000000,0.000000,0,0.000000,...
50%,0,0,0.000000,0.000000,0,0,0,0,0.00000,0,0.000000,0,0.000000,0.000000,0,0.000000,0.000000,0.000000,0,0.000000,...
75%,0,0,0.000000,0.000000,0,0,0,0,0.00000,0,0.000000,0,0.000000,125.000000,0,0.000000,0.000000,0.000000,0,75.500000,...
max,0,0,31267.000000,142345.000000,0,0,0,0,23443.00000,0,12875.000000,0,400.000000,13600.000000,0,3266.000000,9622.240000,9581.250000,0,32624.750000,...

In [13]:
B.describe()

,Totaal Uren,201401,201402,201403,201404,201405,201406,201407,201408,201409,201410,201411,201412
count,54999.000000,54999.000000,54999.000000,54999.000000,54999.000000,54999.000000,54999.000000,54999.000000,54999.000000,54999.000000,54999.000000,54999.000000,54999.000000
mean,30.888059,4.598875,4.046538,4.271426,4.432370,4.387224,4.205377,4.161608,0.616749,0.081381,0.036958,0.007236,0.042315
std,84.756074,16.533610,15.102792,15.930711,15.267672,15.305501,15.021733,15.251445,6.186405,2.378908,1.508335,0.594976,1.295001
min,-64.000000,-8.000000,0.000000,-20.000000,-8.000000,-64.000000,-28.500000,-18.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,24.000000,0.500000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1426.000000,304.000000,228.000000,298.000000,212.650000,182.000000,184.000000,243.000000,153.000000,144.000000,200.000000,102.000000,149.500000

In [30]:
pd.pivot_table(B, 
            values="Totaal Uren", 
            rows = ["Bedrijfsonderdeel", "Projectnaam"], 
            columns=["Afdeling"], 
            aggfunc=pd.sum)

AttributeError: 'module' object has no attribute 'sum'

In [17]:
A.shape

(499, 168)

In [19]:
B.shape

(54999, 32)

In [20]:
A.

In [22]:
pd.pivot_table?